{{ user }}


<img width="100" [src]="imageUrl" />

<button (click)="handleClick()" [disabled]="isValid">save</button>

<button (click)="toggleDisable()">Toggle Disable</button>

<input
  type="text"  placeholder="Enter name" 
  (input)="handleInput($event)"
  [(ngModel)]="user"
/>

<button (click)="toggleChild()">
  {{ isVisible ? 'Hide' : 'Show' }} Child
</button>

<app-child-component *ngIf="isVisible" [message]="message">
</app-child-component>




<!-- *ngFor(fruit of fruits){
  <div>fruit</div>
  } -->
  

  <br>
  <br>
<input  type="text"  (input)="handleInputFruit($event)">
<!-- <button (click)="handleClickFruit()">filter</button> -->


<div *ngFor="let fruit of newFruits">
  {{fruit}}
</div>


<app-event-binding></app-event-binding>

<app-parent-component></app-parent-component>

<app-user-action></app-user-action>


<app-dom-access></app-dom-access>

<input type="text" [(ngModel)]="user" placeholder="enter name">

<app-life-cycle [user]="user"></app-life-cycle>